:root {
	--site-margin: 2em;
}

body {
	margin: 0;
}

.site-page {
	margin: 0 auto 10em;
	padding-left: var(--site-margin);
	padding-right: var(--site-margin);
	max-width: 800px;
	font: 16px "Roboto", sans-serif;
	line-height: 1.7;
	color: #222;
}

.site-page section > img,
.site-page section > a img {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
	padding: 6px;
	border: 1px solid #eee;
}

.site-page h2 {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 0.5em;
	&::after {
		content: "";
		border-bottom: 1px solid #eee;
	}
}

.site-page h3 {
	font-size: inherit;
	margin: 0;
}

.site-page ul {
	list-style: "❖";
	li {
		padding-left: 0.5em;
		margin-bottom: 0.5em;
	}
	li::marker {
		color: #ccc;
		font-weight: normal !important;
	}
}

.site-page hr {
	border: 0;
	border-bottom: 1px solid #eee;
	width: 4em;
	margin: 2em auto;
}

.site-page hr.dingbat {
	border: 0;
	width: unset;
	margin: 2em auto;
	text-align: center;
	&::before {
		font-size: 30px;
		content: "❦";
		color: #eee;
	}
}

.site-page samp {
	color: black;
	padding: 0 5px;
	background: #f5f5f5;
}

.site-page > section {
	margin: 1em 0 2em;
}

.site-page > :first-child {
	margin: 2em 0;
}

.site-page a {
	text-decoration: inherit;
	color: black;
	border-bottom: 2px solid #eee;
	transition-duration: 200ms;
	transition-property: filter;
	&:hover {
		filter: contrast(0.8);
	}
	&:active {
		filter: brightness(0.8);
	}
}