---
import { Image } from "astro:assets";
import SiteLayout from "../layouts/SiteLayout.astro";
import LinkCallout from "../components/LinkCallout.astro";

import img from "../images/whac-a-creeper.gif";
---
<meta name="robots" content="noindex" />

<SiteLayout title="404: Page Not Found">
	<main class="site-page">
		<section class="featured-image">
			<Image src={img} alt="" width={700} />
		</section>
		<section>
			<h2>Page Not Found</h2>
			<p>There's nothing here!</p>
		</section>
		<section>
			<LinkCallout reverseArrow text="Go Home" href="/" />
		</section>
	</main>
</SiteLayout>

<style>
.featured-image {
	text-align: center;
	img {
		width: 80%;
	}
}
</style>