---
import { Image } from "astro:assets";
import SiteLayout from "../layouts/SiteLayout.astro";
import LinkCallout from "../components/LinkCallout.astro";

import img from "../images/whac-a-creeper.gif";
---
<meta name="robots" content="noindex" />

<SiteLayout title="404: Page Not Found">
	<main class="site-page">
		<section class="featured-image">
			<Image src={img} alt="" width={700} />
		</section>
		<section class="page-info">
			<h2 class="heading">
				<span class="err404-text">404</span>
				<span>Page Not Found</span>
			</h2>
			<p class="main-text">There's nothing here.</p>
		</section>
		<section>
			<LinkCallout reverseArrow text="Go Home" href="/" />
		</section>
	</main>
</SiteLayout>

<style>
.page-info {
	text-align: center;
	margin: 4em auto;
}

.heading {
	display: block;
	font: bold 20px "Roboto";
	color: #111;
	border: 0;
	&::after {
		content: none;
	}
}

.err404-text {
	font-weight: 300;
	font-style: italic;
	color: darkred;
	&::after {
		content: " — ";
		color: #bbb;
	}
}

.main-text {
	font: 14px "Roboto";
	color: #999;
}

.featured-image {
	text-align: center;
	img {
		width: 80%;
	}
}
</style>