---
import SiteLayout from "../layouts/SiteLayout.astro";
import LinkCallout from "../components/LinkCallout.astro";
import { Image } from "astro:assets";
import { getMailLink } from "../lib/email";
import StatusWidget from "../components/StatusWidget.tsx";
import { __initData } from "../status-api.ts";

import emailText from "../email-body.txt?raw";

import turtlemayImg from "../images/2024-12-11_13.47.56.jpg";
import hubImg from "../images/2024-12-11_13.45.54.jpg";
import PostCallout from "../components/PostCallout.astro";

const UPDATED_DATE = new Date("Jan 11, 2025");

const statusWidgetData = await __initData();
---
<SiteLayout>
	<main class="site-page">
		<section>
			<p>
				<samp>mc.trtl.in</samp>
				is my new small
				<a href="https://www.minecraft.net/en-us/store/minecraft-java-bedrock-edition-pc">Minecraft</a>
				server in the eastern US with survival and creative maps. Vanilla co-op survival is our foundation, complemented by a classic flat grass creative world.
			</p>
			<LinkCallout text="Join" href="#join" />
		</section>
		<section>
			<h2>Status</h2>
			<p>
				The server was recently launched with 3 players (Pale Garden update). I am looking for a few more to join the group!
			</p>
			<Image src={hubImg} alt="" width={500} />
			<p>
				News will be posted to the private
				<a href="https://discord.com/">Discord</a>.
			</p>
		</section>
		<section>
			<h2>Blog</h2>
			<p>A preview of our forthcoming blog is now available.</p>
			<PostCallout id="001" />
			<p>At the end of each month, I will be posting a recap blog and showcase of our ongoing survival and building efforts.</p>
		</section>
		<section>
			<h2>About Turtlemay</h2>
			<p>30M delivery driver with several hobbies.</p>
			<p>
				My Minecraft play style is cozy neighborhood builder. I like bringing home interesting materials and improving my tiny houses and farms.
			</p>
			<Image src={turtlemayImg} alt="" width={500} />
			<p>
				My Minecraft knowledge mostly covers early beta through the "Combat Update" (2016), after which I stopped playing for many years. I've picked up again at the Pale Garden update and am learning about the new features as I go.
			</p>
			<p>I have lots of experience with servers.</p>
			<p>
				You can learn more about me at my
				<a href="https://www.turtlemay.us/">personal site</a>.
			</p>
			<aside aria-hidden="true">
				<LinkCallout text="My Website" href="https://www.turtlemay.us/" />
			</aside>
		</section>
		<section>
			<h2>Who should join?</h2>
			<p>
				You should join if you're an adult looking for some light co-op a few times a week or so. You must be older than 21, LGBTQ+ friendly, and preferably near the eastern United States. Any experience level is fine.
			</p>
			<p>
				Other than adding you to the group, I will not be acting as moderator or dungeon master. I am looking for friends and equals for a casual small community experience.
			</p>
			<p>
				Voice chat is not a priority but I would like to do some occasional group events.
			</p>
		</section>
		<section id="join">
			<h2>How to apply</h2>
			<div class="apply-block">
				To request access, send an email to
				<span class="email">
					<samp>mc<span class="email-at"></span>trtl.in</samp>
				</span>
				and respond to the following:
				<ul class="prompts-list">
					<li>What is your experience with Minecraft?</li>
					<li>What is your general play style?</li>
					<li>Minecraft username</li>
				</ul>
				<p>
					Once whitelisted, I will add you on Discord so you can see other members and explore the server as you like.
				</p>
				<ul>
					<li>
						<b>Minecraft server address</b>: (whitelist only)<br/>
						<samp class="minecraft-address">mc.trtl.in</samp>
					</li>
					<li>
						<b>Discord server</b>: (invite only)<br/>
						You'll be added to Turtlemay's personal server.
					</li>
				</ul>
			</div>
			<div class="email-link" id="email-link">
				<LinkCallout text="Send Email" href={getMailLink({ subject: "Whitelist Application", message: emailText })} />
			</div>
		</section>
		<section class="server-rules">
			<h2>Server Rules</h2>
			<ul>
				<li>Be good to each other.</li>
			</ul>
			<div class="column-layout">
				<section>
					<h3 class="heading">Survival Worlds</h3>
					<ul>
						<li>Strict vanilla gameplay, normal difficulty, with no cheats or teleports (besides switching worlds).</li>
						<li>No unconsenting PVP, stealing, or griefing.</li>
					</ul>
				</section>
				<section>
					<h3 class="heading">Creative Worlds</h3>
					<ul>
						<li>Build what you want.</li>
						<li>Respect others' creations.</li>
					</ul>
				</section>
			</div>
		</section>
		<section>
			<h2>Technical Details</h2>
			<p>
				We are hosted on a dedicated home server with quad-core 3.6GHz, 16GB RAM, SSD, and 10Mbps upload, located in Ohio, using the latest Paper server software with minimal plugins besides MultiVerse and some creative tools.
			</p>
			<StatusWidget client:load initialData={statusWidgetData} />
			<p>
				Test your ping with
				<samp>ping mc.trtl.in</samp>.
				You want less than 100ms on average or you might have a bad time.
			</p>
			<p>
				I take regular backups of the server myself, but for your peace of mind, the latest package is also available
				<a href="http://mc.trtl.in/backup/mc.trtl.in_latest.tar.gpg">here</a>.
				It is GPG-encrypted with a password to be released only in the event of the server being retired. This ensures the integrity of our survival maps.
			</p>
		</section>
		<hr />
		<section>
			<LinkCallout text="Visit the Gallery" href="/gallery" />
		</section>
	</main>
	<div class="updated-date">
		Updated:
		<time datetime={UPDATED_DATE.toISOString()} aria-description="page updated date">
			{UPDATED_DATE.toLocaleDateString("en-us", { year: "numeric", month: "short", day: "numeric"})}
		</time>
	</div>
</SiteLayout>

<script>
import { getMailLink } from "../lib/email";

import emailText from "../email-body.txt?raw";

const el = document.querySelector("#email-link a");

el?.addEventListener("click", e => {
	e.preventDefault();
	location.href = getMailLink({
		name: "Turtlemay",
		user: "mc",
		domain: "trtl.in",
		subject: "Whitelist Application",
		message: emailText,
	});
});
</script>

<style>
.updated-date {
	font: 14px "Roboto", sans-serif;
	text-align: center;
	color: #999;
	margin: 2em 0;
}

.email-at {
	&::before {
		content: "(at)";
	}
}

.minecraft-address {
	&::after {
		content: ":25565";
		color: #aaa;
	}
}

.apply-block {
	padding: 2em;
	background: #f5f5f5;
	border: 5px solid #eee;
	border-left: 0;
	border-right: 0;
	> :first-child {
		margin-top: 0;
	}
	samp {
		background: #fff;
	}
	.prompts-list {
		li {
			font-weight: bold;
		}
	}
}

.email-link {
	margin: 1em 0;
}

.server-rules .column-layout {
	@media (width > 700px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		margin: 1.5em 0;
		.heading {
			display: grid;
			grid-template-columns: auto 1fr;
			align-items: center;
			gap: 1em;
			&::after {
				content: "";
				border-bottom: 1px solid #eee;
			}
		}
	}
}
</style>