---
import { Image } from "astro:assets";
import SiteLayout from "../layouts/SiteLayout.astro";
import LinkCallout from "../components/LinkCallout.astro";

import headerImg from "../images/2025-01-06_10.52.29.jpg";

import img from "../images/2025-01-08_00.58.24.png";
---
<SiteLayout title="Turtlemay's Minecraft Server Blog" description="Turtlemay's Minecraft Server Blog" headerImg={headerImg}>
	<main class="site-page">
		<section>
			<LinkCallout reverseArrow text="Go Home" href="/" />
		</section>
		<section>
			<h2>Coming Soon</h2>
			<Image src={img} alt="" />
			<p>There's nothing here yet! Our first monthly recap & showcase will be posted by the end of January.</p>
		</section>
		<section>
			<LinkCallout reverseArrow text="Go Home" href="/" />
		</section>
	</main>
</SiteLayout>

<style>
.site-page > :first-child {
	margin: 2em 0 0;
}
</style>