---
import "../styles/global.css";
import "@fontsource/roboto/latin.css";
import "@fontsource/roboto/latin-italic.css";

interface Props {
	title: string;
	description: string;
}
---
<meta charset="UTF-8" />
<meta name="author" content="Turtlemay" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content={Astro.props.description} />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>⛏</text></svg>"></link>
<title>{Astro.props.title}</title>
<script type="module" src="/scripts/smooth-scroll-anchors.js" />