---
interface Props {
	text: string;
	href: string;
}
---
<div class="link-callout">
	<a href={Astro.props.href}>
		<span class="text">{Astro.props.text}</span>
		<div class="arrow" aria-hidden="true">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M988.4,496.8l0.5-0.5L743.2,251.5l-48.9,49.1l162.6,162H10v69.5h848l-162.6,162l48.9,49.1L990,498.4L988.4,496.8z"></path></svg>
		</div>
	</a>
</div>

<style>
.link-callout {
	text-align: center;
	padding: 1rem 0;
}

.link-callout a {
	border: 0;
	filter: none;
	font: 16px sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition-duration: 200ms;
	transition-property: color, filter, transform;
	& .arrow {
		display: flex;
		box-sizing: border-box;
		width: 25px;
		height: 25px;
		padding: 5px;
		background: #f5f5f5;
		border: 1px solid #e0e0e0;
		& svg {
			fill: #666;
		}
	}
	&:hover {
		filter: contrast(0.95);
		color: #000;
	}
	&:active {
		transform: scale(0.98);
	}
}
</style>