---
import cp from "child_process";
import BaseHead from "../components/BaseHead.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import manifest from "../../package.json";

import defaultHeaderImg from "../images/2024-12-10_17.21.04.jpg";

import "../styles/site-page.css";

interface Props {
	title?: string;
	description?: string;
	headerImg?: ImageMetadata;
}

Astro.props.title ??= "Turtlemay's Minecraft Server";
Astro.props.description ??= "Turtlemay's Minecraft server landing page.";

const commitId = cp.execSync("git rev-parse HEAD").toString().trim();
---
<head>
	<BaseHead title={Astro.props.title} description={Astro.props.description} />
</head>
<body>
	<header>
		<div class="header-image">
			<Image src={Astro.props.headerImg ?? defaultHeaderImg} alt="" width={1920} />
		</div>
		<div class="page-header">
			<h1 class="heading">Turtlemay's Private Minecraft Server</h1>
			<div class="subheading" aria-hidden="true">
				<span>mc.trtl.in</span>
				<span class="dingbat" aria-hidden="true">❖</span>
				<span>{manifest.mcversion}</span>
			</div>
		</div>
	</header>
	<slot />
	<footer class="footer">
		<div>
			<span>Static Build:</span>
			<span>
				{new Date().toLocaleString("en-US", {
					year: "2-digit",
					month: "2-digit",
					day: "2-digit",
					hour: "2-digit",
					hour12: false,
					minute: "2-digit",
					timeZoneName: "short",
				})}
			</span>
		</div>
		<div class="spacer" />
		<div>
			<span>Source:</span>
			<a class="commit-id commit-id-link" href={manifest.repository.url}>
				{commitId.substring(0, 7)}
			</a>
		</div>
	</footer>
</body>

<style>
.header-image {
	background: black;
	color: white;
	display: flex;
	img {
		width: 100%;
		height: auto;
	}
}

.page-header {
	background: #050505;
	padding: 2em 1em;
	text-align: center;
	color: #fff;
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
	.heading {
		font: bold 30px "Roboto", sans-serif;
		text-wrap: balance;
	}
	.subheading {
		font: 16px "Roboto", sans-serif;
		color: #666;
	}
	.dingbat {
		color: #333;
	}
}

.footer {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-content: center;
	font: 12px "Roboto";
	margin-top: 3em;
	padding: 1em 2em;
	background: #f5f5f5;
	color: #999;

	.commit-id {
		display: inline-block;
		padding: 0.5em;
		background: #fff;
		color: #333;
		border: 1px solid #e0e0e0;
		border-radius: 5px;
	}
	.commit-id-link {
		text-decoration: none;
		transition-duration: 200ms;
		transition-property: filter;
		&:hover {
			filter: contrast(0.95);
		}
		&:active {
			filter: opacity(0.8);
		}
	}
}

@media(width < 600px) {
	.page-header .heading {
		font-size: 20px;
	}
}
</style>