---
import BaseHead from "../components/BaseHead.astro";
import { Image } from "astro:assets";

import mcServerVersion from "../mc-version.txt?raw";

import headerImg from "../images/2024-12-10_17.21.04.jpg";

import "../styles/site-page.css";

interface Props {
	title?: string;
	description?: string;
}

Astro.props.title ??= "Turtlemay's Minecraft Server";
Astro.props.description ??= "Turtlemay's Minecraft server landing page.";
---
<head>
	<BaseHead title={Astro.props.title} description={Astro.props.description} />
</head>
<body>
	<div class="header-image">
		<Image src={headerImg} alt="" width={1920} />
	</div>
	<div class="page-header">
		<h1 class="heading">Turtlemay's Private Minecraft Server</h1>
		<div class="subheading" aria-hidden="true">
			<span>mc.trtl.in</span>
			<span class="dingbat" aria-hidden="true">❖</span>
			<span>{mcServerVersion}</span>
		</div>
	</div>
	<slot />
</body>

<style>
.header-image {
	background: black;
	color: white;
	display: flex;
	img {
		width: 100%;
		height: auto;
	}
}

.page-header {
	background: #050505;
	padding: 2em 1em;
	text-align: center;
	color: #fff;
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
	.heading {
		font: bold 30px "Roboto", sans-serif;
	}
	.subheading {
		font: 16px "Roboto", sans-serif;
		color: #666;
	}
	.dingbat {
		color: #333;
	}
}
</style>